.octodex {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    
}

.octocat {
    border: 2px solid rgb(215,215,215);
    margin: auto;
    width: 450px;
    height: 450px;
    border-radius: 3px;
}

.image-footer {
    border-bottom: 2px solid rgb(215,215,215);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-number {
    color: rgb(202,202,202);
    margin-right: auto;
}

.image-number:before {
    content: "#"
}

.image-caption {
    color: rgb(120,120,120);
    display: flex;
    align-items: flex-start;
}
.authors {
    
}


a[href*="octodex"] > img[src*="octodex"] {
    width:100%;
}

.authors > li > a > img {
    width: 35px;
    border-radius: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a:link, a:visited {
    color: rgb(64,64,64);
    text-decoration: none;
  }

/* this is for the triangle but I don't know where it goes:
width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: #cacaca transparent transparent transparent; *//

/* spacing between words in caption? */
